* {
  box-sizing: border-box !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.widgets {
  box-shadow: unset !important;
}

.no-padding {
  padding: unset !important;
}

.bordered {
  border: 1px solid red;
}
.no-border {
  border: unset !important;
}

.banner-wrapper {
  height: 320px;
}

.serps {
  border: 2px solid rgb(134, 134, 209);
  border-radius: 5px;
}

#blogserp-widget, #poll-widget, #events-widget {
  margin-top: 1.9rem !important;
  margin-bottom: 1.9rem !important;
}

.blog-excerpt {
  overflow: hidden !important;
  height: 150px !important;
}

#poll-widget img {
  display: block;
  position: absolute;
  width: 100%;
  opacity: 0.3;
}

#poll-widget {
  /* padding: 0 !important; */
  position: relative;
  /* overflow: hidden; */
}

#poll-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.25;
}


#poll-segment-bg, #poll-form label {
  background: unset !important;
  color: #000 !important;
  font-weight: bold;
}

#footer {
  /* height: 120px; */
  background-color: rgb(77, 77, 255);
  color: #fff;
  text-align: left;
}

#alert-segment-bg span {
  color: rgb(218, 21, 21) !important;
  font-size: 1.5vh !important;
}

#alert-segment-bg:after {
  content: ' ' !important;
  height: 20px !important;
}

#alert-segment-bg {
  background: none !important;
}

#alert-widget {
  background-color: rgb(228, 228, 228);
}

#events-widget {
  background-color:  rgba(245, 245, 245, 0.781);
  overflow-y: auto !important;
  height: 468px !important;
}

#events-widget h2 {
  color: #333 !important;
  margin-bottom: 1rem !important;
}

.events-list {
  background: none !important;
}

.event-title {
  color: rgb(102, 102, 228);
}

.mini-widget-boxes {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
}


/* 
  =====================================
    Header Section 
  =====================================
*/

#header-wrapper {
  color: #fff;
  background-color: #00416a;
  margin-bottom: 1rem;
  
}


#header-logo {
  height: 60px;
  color: #fff;
}

#sub-header-bar {
  height: 40px;
  background-color: #e8e3e7;
}